.hero__about {
	@include section-default;
	.hero__about-title {
		@include section-title;
	}
	.hero__about-imgContainer {
		position: relative;
		top: 20%;
		width: 200px;
		height: 180px;

		.about__image-background {
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;

			z-index: 1;
		}
		img {
			position: relative;
			width: 320px;
			height: 100%;
			object-fit: cover;
			object-position: left;
			z-index: 200;
			border-radius: 1%;
		}
	}
	p {
		width: 300px;
		position: relative;
		top: 24%;
	}
}
