.hero__contact {
	@include section-default;
	.hero__contact-title {
		@include section-title;
	}
	.hero__contact-iconContainer {
		position: relative;
		top: 20%;
		display: flex;
		width: 68vw;
		justify-content: space-evenly;
		align-items: center;
		svg {
			width: 35px;
			height: 35px;
		}
	}
	form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 10px;
		position: relative;
		top: 25%;
		width: min-content;

		outline: 1px solid black;
		input {
			outline: none;
			padding: 4px;
			margin: 0 14px;
			width: 68vw;
			height: 30px;
			&:first-child {
				margin-top: 14px;
			}
		}
		textarea {
			@extend input;
			height: initial;
			margin-bottom: 14px;
		}
	}
}
